@font-face {
  font-family: coco;
  src: url('./media/fonts/cocogoose/cocogoose.woff');
}

$darkColor: #272a31;
$brightColor: #d3d3d3;
$primaryColor: #ec5242;
$textColor: #4f4f4f;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 62.2%;
  font-family: lato;
  padding: 1.5em;

  .hr {
    display: block;
    background-color: $primaryColor;
    height: 2px;
    width: 30px;
    margin: 10px auto;
  }

  .separator {
    display: block;
    background-color: #d9d9d9;
    height: 2px;
    width: 30px;
    margin: 10px 0;
  }

  img {
    max-width: 100%;
  }

  .mobile-navbar {
    display: block;
    .fa-bars {
      font-size: 1.75em;
      color: grey;
    }
  }

  .about-banner {
    text-align: center;
    margin-top: 1.5em;

    h3 {
      color: $primaryColor;
      margin-bottom: 0.55em;
    }

    h1 {
      color: $primaryColor;
      font-family: coco;
      margin-bottom: 0.5em;
      font-size: 1.85rem;
    }

    .about-paragraph {
      padding: 1em;
      border: 1px solid black;
      margin-bottom: 1em;
    }
    .about-address {
      margin-bottom: 0.25em;
    }

    h5 {
      text-decoration: underline;
      margin-bottom: 2em;
    }
  }

  .about-sub-section {
    text-align: center;
  }

  .past-webinars-section {
    text-align: center;
  }
}
