@font-face {
  font-family: coco;
  src: url("./media/fonts/cocogoose/cocogoose.woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: lato;
  font-size: 62.3%;
}

.hr {
  display: block;
  background-color: #ec5242;
  height: 2px;
  width: 30px;
  margin: 10px auto;
}

.separator {
  display: block;
  background-color: #d9d9d9;
  height: 2px;
  width: 30px;
  margin: 10px 0;
}

img {
  max-width: 100%;
}

.mobile-navbar {
  display: block;
  padding: 16px 20px;
}

.mobile-navbar .fa-bars {
  font-size: 1.75em;
  color: grey;
}

.banner-section {
  margin-top: 1.75em;
  padding: 0 20px;
}

.banner-section h1,
.banner-section h3 {
  color: #ec5242;
}

.banner-section h3 {
  font-weight: 400;
  font-size: 1rem;
}

.banner-section h1 {
  font-weight: 900;
  font-size: 2rem;
  font-family: coco;
}

.banner-section .banner-paragraph {
  margin-top: 20px;
  color: #4f4f4f;
  padding: 1em;
  background-color: #f7f7f7;
}

.banner-section h2 {
  font-weight: 900;
  color: #585858;
  font-size: 1.25rem;
}

.banner-section p {
  margin-top: 6px;
  color: #767676;
}

.main-program {
  background-color: #272a31;
  margin-top: 3.5em;
}

.main-program h2 {
  color: #f7f7f7;
  text-align: center;
  padding-top: 1.25em;
}

.program-section {
  margin-top: 1em;
  text-align: center;
}

.program-section button {
  color: white;
  background-color: #ec5242;
  padding: 1.3em 2em;
  font-weight: 600;
  letter-spacing: 0.11em;
  font-size: 1rem;
  text-align: center;
  margin: 1.25em 0;
  outline: none;
  border: none;
}

.program-section .program-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 10px 8px 10px;
}

.program-section .program-box > * {
  padding: 0.75em;
}

.program-section .program-box .program-icon {
  font-size: 2em;
  color: #f7f7f7;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  text-align: center;
}

.program-section .program-box .program-heading {
  color: #ec5242;
  font-weight: 700;
  font-size: 0.9rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: left;
}

.program-section .program-box .program-details {
  color: #f7f7f7;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  text-align: left;
}

.featured-speakers {
  margin-top: 2em;
  text-align: center;
}

.featured-speakers h2 {
  text-align: center;
  color: #272a31;
}

.featured-speakers button {
  border: 1px solid grey;
  padding: 10px 15.5em;
  margin-bottom: 2em;
  text-transform: uppercase;
  background-color: white;
}

.featured-speakers button .fa-caret-down {
  color: #ec5242;
  margin-left: 0.75em;
  font-size: 0.75rem;
}

.featured-speakers .speaker-box {
  padding: 1em 2.35em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-speakers .speaker-box .speaker-image {
  width: 160px;
  height: 160px;
}

.featured-speakers .speaker-box .speaker-info {
  text-align: left;
  padding: 0 1.25em;
}

.featured-speakers .speaker-box .speaker-info h2 {
  text-align: left;
  margin-bottom: 0.5em;
}

.featured-speakers .speaker-box .speaker-info .speaker-intro {
  color: #ec5242;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */